ody {
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial;
}

#chat {
  background: #020617;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}